:root {
    --bg-color: #000000;
    --text-color: #aaaaaa;
    --accent-color: #2563eb;
}

body {
	margin: 0;
	padding: 0;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
	background-color: var(--bg-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
